.share-drop {
  position: absolute;
  top: 110%;
  left: 0;
  width: 150px;

  background: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;

  &.active {
    opacity: 1;
    visibility: visible;
  }

  li {
    padding: 10px;
    cursor: pointer;
    > button {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    &:hover {
      background: #dbdbdb;
    }
  }
}
