@use "src/sass/abstracts" as *;

.comment {
  &-card {
    padding: 0 10px;

    > .input-comment {
      margin-top: 5px;
      border: 1px solid $gray_100;
      border-radius: 5px;
      height: 40px;
      padding-left: 10px;

      a {
        font-size: 12px;
        color: $red_900;
        font-weight: 600;
      }

      input {
        padding: 5px;

        font-size: 14px;
        &::placeholder {
          font-size: 14px;
        }
      }

      button {
        height: 100%;
        border-radius: 0 5px 5px 0;
      }
    }

    > a {
      display: flex;
      align-items: center;
      gap: 5px;
      h6 {
        font-size: 12px;
        color: $gray_900;
      }
    }
  }

  &-display {
    border-bottom: 1px solid $gray_100;
    padding-bottom: 10px;

    &_reply {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .comments_show {
      margin-top: 5px;
      transform: translateY(0);
    }
  }

  &_content {
    margin-top: 5px;
    background: $gray_100;
    word-break: break-all;
    border-radius: 5px;
    padding: 10px;
    position: relative;

    &_tagname {
      padding-right: 8px;
      font-size: 14px;
      font-weight: 600;
      color: $red_900;
    }

    textarea {
      background: #fff;
      width: 95%;
      padding: 5px;
      height: 100px;
      border-radius: 10px;
      resize: none;
    }

    &_footer {
      margin-top: 5px;
      display: flex;
      align-items: center;
      gap: 20px;

      span {
        font-size: 12px;
      }
      .likes {
        font-weight: 600;
      }
      .reply {
        font-weight: 700;
        cursor: pointer;
      }
      .cansel {
        color: $red_900;
      }
    }
  }

  &_menu {
    position: absolute;
    top: -2px;
    right: 5px;

    .post-menu {
      border: none;
      &:hover {
        border: none;
      }
    }
  }

  &_like {
    position: absolute;
    bottom: 5px;
    right: 10px;
    svg {
      width: 16px;
      height: 16px;
      cursor: pointer;
    }
  }
}
